
<container>

<% @posts.each do |post| %>

  <div class='indexPost'>

        <!-- <img src="<%= post.image.url %>"> -->
        
      <h2> <%=link_to post.title, post%> </h2>
      <p>Posted <%=time_ago_in_words(post.created_at)%> ago, by <strong><%=post.user.username%></strong></p>
      

      <% post.tags.each do |tag| %>
      <button class = 'btn btn-warning btn-xs'>
      <%= link_to tag.keyword, tag_path(tag) %>
       </button>
       <% end %>
      

      <button class="btn btn-danger btn-xs"> <%= link_to 'Delete Post', post_path(post), method: :delete, class: 'ui button', data: {confirm: "Are you sure you want to do this?"} if post.user == current_user %></button>
    
    
  </div>
  
  <%end%>
  
</container>
<%# <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div> %>
