
<h1><%=@post.title%></h1>

<a href="<%=@post.image.url%>" data-lightbox="<%=@post.title %>">
<img src="<%=@post.image.url%>" width='200' alt="<%=@post.title%>">
</a>


<!-- <%= image_tag @post.image.url %> -->

<p><%=@post.content%></p>

<p> Tags:</p>
<% @post.tags.each do |tag| %>
<button class ="btn btn-warning btn-xs">
    <%= link_to tag.keyword, tag_path(tag) %>
    </button>
  <% end %>
  
</p>

<%# section for comments %>
<h4><%=@post.comments.count%> Comments</h4>
<% @post.comments.each do |c| %>
  <p><strong><%= c.user.username%> : </strong> <%=c.comment %> <button class="btn btn-danger btn-xs"> <%= link_to 'Delete Comment', comment_path(c), method: :delete, class: 'ui button' if c.user == current_user %></button></p>
<% end %>

<%if current_user%>
<h3>Reply To Thread:</h3>
<%= form_for [@post, @comment], html: {class: "nifty_form"} do |f| %>
  <%= f.text_area :comment, size: "40x8" %>
  <br>
  <%= f.submit "Create" %>
  <%end%>
<% end %>

<h4>Modify Post:</h4>
<button class='btn btn-secondary'><%= link_to 'Edit', edit_post_path(@post) if @post.user == current_user%></button>
<button class='btn btn-secondary'><%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure you want to do this?"} if @post.user == current_user%></button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.js" crossorigin="anonymous" defer></script>