
<h1><%=@post.title%>
<button class = 'btn btn-warning'>
<%= link_to 'Home', root_path %>
</button>
</h1>

<a href="<%=@post.image.url%>" data-lightbox="<%=@post.title %>">
<img src="<%=@post.image.url%>" width='200' alt="<%=@post.title%>">
</a>


<a href="http://saccc567.com/Shows/2014/SACCC_Show/100_0000-Banner_01.JPG"  
 data-lightbox="gallery-1"
 data-title="<a class='add' href='#' data-id='#1'>Add/edit caption</a>￼ ￼
              <span class='divider'>|</span>
              <span class='caption'>A banner with some cars</span>"
              id="1">
  <img src="http://saccc567.com/Shows/2014/SACCC_Show/Thumbs/100_0000-Banner_01.JPG">
</a>


<!-- <%= image_tag @post.image.url %> -->

<p><%=@post.content%></p>

<p> Tags:</p>
<% @post.tags.each do |tag| %>
<button class ="btn btn-warning btn-xs">
    <%= link_to tag.keyword, tag_path(tag) %>
    </button>
  <% end %>
  
</p>

<%# section for comments %>
<h4><%=@post.comments.count%> Comments:</h4>
<% @post.comments.each do |c| %>
  <p><strong><%= c.user.username%> : </strong> <%=c.comment %> <button class="btn btn-danger btn-xs"> <%= link_to 'Delete Comment', comment_path(c), method: :delete, class: 'ui button' if c.user == current_user %></button></p>
<% end %>

<h3>reply to thread</h3>
<%= form_for [@post, @comment], html: {class: "nifty_form"} do |f| %>
  <%= f.text_area :comment, size: "40x8" %>
  <%= f.submit "Create" %>
  
<% end %>

<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_post_path(@post) if @post.user == current_user%>
<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure you want to do this?"} if @post.user == current_user%> 