
<h1><%=@post.title%></h1>
<div class ='postImage'>
<%= image_tag @post.image.url %>
</div>
<p><%=@post.content%></p>

<p> Tags:</p>
<% @post.tags.each do |tag| %>
<button class ="btn btn-warning btn-xs">
    <%= link_to tag.keyword, tag_path(tag) %>
    </button>
  <% end %>


<%# section for comments %>
<h4><%=@post.comments.count%> Comments:</h4>
<% @post.comments.each do |c| %>
  <p><strong><%= c.user.username%> : </strong> <%=c.comment %> <button class="btn btn-danger btn-xs"> <%= link_to 'Delete Comment', comment_path(c), method: :delete, class: 'ui button' if c.user == current_user || current_user.username == "livefreela" %></button></p>
<% end %>

<h3>reply to thread</h3>
<%= form_for [@post, @comment], html: {class: "nifty_form"} do |f| %>
  <%= f.text_area :comment, size: "40x8" %>
  <%= f.submit "Create" %>
  
<% end %>

<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_post_path(@post)%>
<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure you want to do this?"}%> 