<!DOCTYPE html>
<html>
  <head>
    <title>Hibiu</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-header">

  <ul class="nav nav-pills">
  <li role="presentation" class="active">
  <% if current_user %>
    Welcome, <%= current_user.username %>
    
    <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
    </li>
    <li role="presentation">
    <% else %>
    <%= link_to 'Log In', login_path %>
    <%= link_to 'Sign Up', new_user_path %>
    <%end%>
  </li>
  <li role="presentation">
  
  </li>
  
  </ul>
  </nav>

    <%= yield %>
    <p>
  <% if current_user %>
    Welcome, <%= current_user.username %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
  <% else %>
    <%= link_to 'Log In', login_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Sign Up', new_user_path %>
  <% end %>
</p>
<%= link_to 'Create a Post', new_post_path %>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  </body>
</html>
